<ion-view view-title="Librería">
	<ion-nav-bar class="bar-stable">

		<ion-nav-buttons side="right">
			<button class="drawer-button button button-icon button-clear ion-ios-information-outline" ng-click="faqs()" ></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="left">
		<button class="drawer-button button button-icon button-clear ion-ios-book-outline" ng-click="myBooks()">Mis Libros</button>

		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<coverflow images="covers" on-cover-click="unlockOrDownloadBook()" on-cover-change="onCoverChange($cover)"></coverflow>
		<div class="row" id="divDownload">
			<div class="col col-33" style="padding:0">
				<div ng-if="codeValid || book.isDefault" ng-click="unlockOrDownloadBook()" class="divDownload">Descargar <i class="icon-right ion-ios-download-outline"></i></div>
				<div ng-if="!(codeValid || book.isDefault)" ng-click="unlockOrDownloadBook()" class="divDownload">Desbloquear <i class="icon-right ion-unlocked"></i></div>
			</div>
			<div class="col" style="padding-left:1em">
				<h5>{{book.title}}</h5>
				<h6 style="font-weight:200">{{book.author}}</h6>
			</div>
		</div>
		<div class="row" style="min-height:17em">
			<div class="col col-33"></div>
			<div class="divResum">
				<p class="fontWeight400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean erat mi, auctor sit amet erat vitae, finibus sagittis risus. Curabitur non laoreet elit, vel blandit purus. Integer eget nunc eget purus tincidunt finibus.</p>
				<p class="fontWeight300">Resumen</p>
				<p class="fontWeight200">{{book.synopsis}}</p>
			</div>						
		</div>
		
	</ion-content>
</ion-view>


