
/*CUSTOMIZE POPUP*/
.custom-popup.popup-container .popup {
  border-radius:0.5em;
  width: 340px;
  padding: 0.4em;
  background-color: #F5F5F5;
}

.custom-popup.popup-container .popup-head {
  text-align: left !important;
  border: none;
}

.custom-popup.popup-container h3{
  color: #999999;
}
.custom-popup.popup-container .popup-sub-title{
  font-size: 0.8em;
  color: #666666;
  font-weight: 500;
}

.custom-popup.popup-container .bar-footer{
  border-radius: 0 0 0.5em 0.5em;
}




/*TEMPLATE*/
#divPopup{
  height: 6em;
  padding:0;
}
.buttonAccept {
	border: none;
    color: #ffffff;
    background-color: #999999;
    height: 2.45em;
    text-align: center;
}
.login p {
	color: #666666;
}

.login h5 {
	color: #666666;
	margin-top: 2.5em;
	font-size: 0.8em;
	font-weight: 500;
}

.login .bar-footer{
  border-top: solid 1px #C5C5C5;

}
.buttonOmitir{
  padding:0 !important;
  margin:0;
  color:#999999 !important;
  margin-top: 0 !important;
}
