
.question{
	padding-left: 1.6em;
}
.list .item-accordion {

  padding: 2em;
  background-color:#f8f8f8
 
}
.list .item-accordion.ng-hide {
  line-height: 0px;
}
.list .item-accordion.ng-hide-add,
.list .item-accordion.ng-hide-remove {
  display: block !important;
}