
.divsNoLogin{
	height: 15em;
	border-bottom:1px solid #dddddd;
	padding: 1.8em;
	display: block; 
	text-align:center;
}

.divsNoLogin p{
	line-height: 2em;
	font-size: 1.2em;
}

.books-page .scroll-content {
	padding: 0px 20px;
}

.cover{
	display: inline-block;
	border-bottom: 1px solid #cccccc;
	padding: 20px;
}
.informationBook{
	line-height: 1em;
}
.titleBook{
	font-weight: bold;
}

.authorBook{
	color: #666666;
}

.books-page .img-container { position: relative; }
.books-page .img-container img { height: 300px; }
.books-page .img-container span { position: absolute; top: -12px; right: -12px; font-size: 24px; line-height: 24px; border-radius: 12px; background-color: white; display:none; }
.books-page.editing .img-container span { display: block; }
