<ion-view view-title="Mis Libros" class="books-page" ng-class="{'editing': status.editing}">
	<!-- Header -->
	<ion-nav-bar class="bar-stable" ng-click="headerClick($event)">
		<ion-nav-back-button style="font-size: 0px;"></ion-nav-back-button>
		<ion-nav-buttons side="left">
			<button class="drawer-button button button-icon button-clear ion-ios-book-outline" ng-click="goCovers()">Volver a la Libreria</button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button ng-if="codeValid &amp;&amp; !status.editing" class="drawer-button button button-icon button-clear ion-edit" ng-click="status.editing = true" ></button>
			<button ng-if="codeValid &amp;&amp; status.editing" class="drawer-button button button-icon button-clear ion-android-done" ng-click="status.editing = false" ></button>
			
			<button ng-if="!codeValid" class="drawer-button button button-icon button-clear ion-power" ng-click="showLogin()" ></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div ng-if="codeValid" ng-repeat="book in books" class="cover" ng-click="goBook(book)">
			<div class="informationBook">
				<p class="titleBook">{{book.title}}</p>
				<p class="authorBook">{{book.author}}</p>
			</div>
			<div class="img-container">
				<img ng-src="{{book.url}}" after-click="haha()"/>
				<span class="ion-close-circled" ng-really-click="deleteBook(book)" ng-really-message="Seguro que quieres eliminar el libro {{book.title}} del dispositivo?"></span>
			</div>
		</div>
		<div ng-if="!codeValid">
			<div class="divsNoLogin" style="text-align:center">
				<img src="" width="150px" height="150px" /><br>
				<p>No has iniciado la sesión</p>
			</div>
			<div class="divsNoLogin">
				<p style="color:#666666;font-size:1em">Introduce tu código<br> para disfrutar de todas las ventajas<br> de @Libros de Empresa.</p>
			</div>
			<div class="divsNoLogin"></div>
		</div>
	</ion-content>
</ion-view>