<ion-popover-view>
	<ion-content class="reader-notes-popover" scroll="false">
		<div class="header row">
			<div class="col left">
				<div class="button button-small button-icon" ng-click="hide()">Cancelar</div>
			</div>
			<div class="col title">Redactar Nota</div>
			<div class="col right">
				<div class="button button-small button-icon" ng-click="save()">Guardar</div>
			</div>
		</div>
		<div class="content" ng-repeat="note in getNotes()">
			<textarea ng-model="note.value" placeholder="Escribe una nota sobre esta p&aacute;gina"></textarea>
		</div>
	</ion-content>
</ion-popover-view>