<ion-popover-view class="fit">
	<ion-content class="reader-style-popover">
		<div class="list">
			<div class="item font-size">
				<div class="row">
					<div class="col col-icon">
						A+
					</div>
					<div class="col col-buttons">
						<div class="button-bar button-bar-inline">
							<div class="button ion-plus-round" ng-click="increaseFontSize()"></div>
							<div class="button ion-minus-round" ng-click="decreaseFontSize()"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="item reader-background">
				<div class="row">
					<div class="col col-icon">
						<i class="icon ion-paintbucket"></i>
					</div>
					<div class="col"></div>
					<div class="col">
						<div class="reader-color color-black" ng-click="selectBackground('black')"></div>
					</div>
					<div class="col">
						<div class="reader-color color-sepia" ng-click="selectBackground('sepia')"></div>
					</div>
					<div class="col">
						<div class="reader-color color-grey" ng-click="selectBackground('grey')"></div>
					</div>
					<div class="col">
						<div class="reader-color color-default" ng-click="selectBackground('default')"></div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-popover-view>